# -------------------------------------------------
# 대용량 ZIP 파일 – 레포에 올리지 않음
AL_D010_11_20260509.zip
AL_D194_11710_20250814.zip
LSMD_CONT_LDREG_Songpa.zip
# -------------------------------------------------
